* {
    box-sizing: border-box;
}

.App {
    text-align: center;
}

body {
    background-color: #2e3440;
    color: #d8dee9;
}

.grid {
    display: grid;
    margin-right: auto;
    margin-left: auto;
    width: 35rem;
    height: 30rem;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(7, 1fr);

}

.grid .square {
    width: 100%;
    height: 100%;
    border: 1px solid #d8dee9;
    font-size: 1rem;
}


.disc {
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 50%;
    transition: margin-top 0.5s 0.5s ease, background-color 0.5s;
    z-index: 0;
    margin-top: calc(var(--line) * 5);
}

/* 

.line1 {
  margin-top: -5rem;
}

.line1 {
  margin-top: -5rem;
}

.line1 {
  margin-top: -5rem;
}

.line1 {
  margin-top: -5rem;
}

.line1 {
  margin-top: -5rem;
}

*/
.player {
    display: inline-block;
    height: 4rem;
    width: 4rem;
}

.fggreen {
    color: #a3be8c;
}

.fgred {
    color: #bf616a;
}

.fgyellow {
    color: #ebcb8b;
}


.red {
    background-color: #bf616a;
}

.yellow {
    background-color: #ebcb8b;
}

#player {
    font-size: 1.5rem;
}

#gameStatus {
    font-size: 1.5rem;
}

.button {
    display: inline-block;
    text-decoration: none;
    background-color: #4c566a;
    color: #d8dee9;
    border: none;
    border-radius: 0.25rem;
    font-size: 1.25rem;
    /* height: 2.5rem; */
    padding: 0.50rem;
}

.button:hover {
    color: #eceff4;
    background-color: #5e81ac;
}

.loginForm {
    max-width: 20rem;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.loginForm * {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}

.loginForm label {
    text-align: center;
    display: block;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
}


.loginForm .button {
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.textInput {
    display: block;
    background-color: #4c566a;
    color: #d8dee9;
    border: none;
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

#header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #3b4252;
    height: 3rem;
}

.siteTitle {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
    text-decoration: none;
    color: #d8dee9;
}

.headUsername {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.headLogout {
    text-align: right;
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
}

#lobby {
    margin-top: 1rem;
    max-width: 20rem;
    margin-right: auto;
    margin-left: auto;
}

.leaderboardEl {
    margin-bottom: 1rem;
}

#leaderboardButton {
    margin-bottom: 1rem;
}

@media (max-width: 35rem) {
    .grid {
        width: 21rem;
        height: 18rem;
    }

    .disc {
        margin-top: calc(var(--line) * 3);
    }
}

.red,
.yellow {
    margin-top: 0;
    z-index: 2;
}